.pokedex-image {
  width: 20vh;
  margin: 4vh;
}

.greeting {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}
.searchbar-container {
  display: flex;
  align-items: center;
}

.user-input {
  width: 20vw;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  border-color: white;
}

.pokeball {
  width: 40px;
  cursor: pointer;
  margin-left: 12px;
}
