body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokedex {
  width: 20vh;
  margin: 4vh;
}

.greeting {
  font-size: 2em;
  margin-bottom: 20px;
}

.userInput {
  border-radius: 10px;
  font-size: 1em;
  width: 25vw;
  text-align: center;
  border-color: white;
  margin-bottom: 20px;
}

.pokeball {
  width: 40px;
  margin: 0px 0px 18px 18px;
}
